html {
	background: url('https://wallpaperaccess.com/full/1745055.jpg') no-repeat center fixed;     
    background-size: cover;
}
body {
	color: white;
}
h1 {
	font-family: 'Nanum Gothic', sans-serif;
 	font-size: 20px;
	text-align: center;
}
h2 {
	font-size: 12px;
	text-align: center;
}

h3 {
	font-size: 12px;
}
#table {
	width: 200%;
}